@import '../../../../../../../../UPP.Web/node_modules/@fortawesome/fontawesome-free/css/all.css';

.enlarged-icon-style-left {   
    color: limegreen;
    font-size: 1.73em;
    margin-left: 48%;
}


.enlarged-icon-style-right {   
  color: rgb(50, 205, 89);
  font-size: 1.73em;
  margin-left: 46%;

}
.enlarged-icon-style-left:hover {
    background-color: #fff;
    color: #54b3eb;
}

.enlarged-icon-style-right:hover {
    background-color: #fff;
    color: #54b3eb;
}
  


