<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Employees</nb-card-header>
      <nb-card-body>
        <div class="row col-lg-12">
          <div class="col-lg-4">
            <img class="images" src='assets/images/{{employee.id}}.png' />
          </div>
          <div class="col-lg-8">
            <div class="row">
              <h1>{{employee.firstname}} {{employee.lastname}}</h1>
            </div>
            <div class="row" style="margin-bottom: 2%;">
              Some funny text about {{employee.firstname}} {{employee.lastname}}.It is a long
              established fact thata reader will be <br> distracted by
              the readable content of a page when looking at its layout.The
            </div>
            <div class="row" style="margin-bottom: 2%;">
              <span>{{employee.website}}</span> |
              <span>{{employee.email}}</span> |
              <span>{{employee.contact}}</span>
            </div>
            <div class="row">
              <button type="submit" class="col-lg-4" (click)="website()" nbButton status="primary"
                outline>Website</button>
              <button type="submit" class="col-lg-4" style="margin-left: 15%;" (click)="requestCV()" nbButton
                status="primary" outline>Request CV</button>
            </div>
            <div class="row" style="margin-top: 2%;">
              <button type="submit" class="col-lg-2" (click)="first()" nbButton status="primary" outline>First</button>
              <button type="submit" class="col-lg-2" style="margin-left: 5%;" (click)="previous(employee.id)" nbButton
                status="primary" outline>Previous</button>
              <button type="submit" class="col-lg-2" style="margin-left: 5%;" (click)="next(employee.id)" nbButton
                status="primary" outline>Next</button>
              <button type="submit" class="col-lg-2" style="margin-left: 5%;" (click)="last()" nbButton status="primary"
                outline>Last</button>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>